* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-border: 1px solid rgba(195, 212, 233, 0.5);
    --default-transition: all .2s ease;
    --main-bg-color: #F6F7F9;
    --main-blue: #3563E9;
    --dark-blue: #0b246c;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Plus Jakarta Sans";
}